*.suo
*.user
VersionInfo.cs
coverage.log
coverage.xml
FxCopReport.xml
TestResult.xml
Build/
Source/Dragging/Bin/
Source/Dragging/obj/
Source/Unit Tests/Dragging.Tests/bin/
Source/Unit Tests/Dragging.Tests/obj/
Source/Unit Tests/Dragging.VisualState.xml
Source/Unit Tests/TestResult.xml
Examples/DraggingExample/obj/
Examples/DraggingExample/Bin/
Examples/DraggingExample.Web/obj/
Examples/DraggingExample.Web/bin/
Examples/DraggingExample.Web/ClientBin/